<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../static/pc.css">
</head>
<body>
    <div class="contact">
        <h1>Contact Us By Sigining In</h1>
        <div class="container">
            <input type="text", placeholder="enter your name">
            <input type="email" name="" id="" placeholder="enter your email">
            <input type="password" name="" id="" placeholder="enter your password">
            <input type="password" placeholder="confirm your password">
            <input type="submit" value="Submit">
        </div>
    </div>
</body>
</html>